body{

font-family: Arial;
background:#0f172a;
color:white;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.container{

background:#1e293b;
padding:30px;

width:600px;

border-radius:12px;

box-shadow:0 0 15px rgba(0,0,0,.5);

}

textarea{

width:100%;

height:120px;

margin-top:10px;
margin-bottom:20px;

padding:10px;

border-radius:8px;

border:none;

}

button{

width:100%;

padding:12px;

background:#22c55e;

border:none;

color:white;

font-size:18px;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#16a34a;

}

.hidden{

display:none;

}

#result{

margin-top:20px;

background:#020617;

padding:15px;

border-radius:8px;

}

li{

margin-bottom:10px;

}